:root {
	font-family: 'Roboto', sans-serif;
	--header-footer-height: 55px;
	--color-strong: #385FA2;
	--color-background: #8886A8;
	--color-important: #E9BFC0;
	--color-disabled: #D2E9D7;
	--color-secondary: #5ACBC8;
}

h1, h2 {
	color: var(--color-strong);
}
.header-footer-common {
	height: var(--header-footer-height);
	position: fixed;
	left: 0;
	width: 100%;
}

.header {
	top: 0;
}

.footer {
	bottom: 0;
}

.footer-text {
	text-align: center;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #666666;
	font-size: 14px;
	font-weight: bold;
}

main {
	width: 100%;
	height: 100%;
	margin-top: var(--header-footer-height);
	margin-bottom: var(--header-footer-height);
}

body {
	background: no-repeat;
	background-image: url('./images/background.jpg');
	background-attachment: fixed;
}

.base-data-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 400px;
	opacity: 0.8;
	background-image: url('./images/paper.png');
}

.base-data-text-container {
	text-align: center;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.choose-country-container {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 400px;
	opacity: 0.9;
}

.choose-country-text-container {
	text-align: center;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#chart-container {
	text-align: center;
}

#chart-paper {
	width: 1000px;
	height: 500px;
	margin: 20px;
	text-align: center;
	display: inline-block;
}

#chart-country-overview-paper {
	width: 300px;
	height: 400px;
	margin: 20px;
	padding: 10px;
	display: inline-block;
}

#chart {
	width: inherit;
	height: inherit;
}

#highlight-boarders {
	border: solid darkgreen;
}

.footer-paper {
	height: inherit;
	text-align: center;
	background-image: url('images/footer.png');
}

.header-paper {
	height: inherit;
	text-align: center;
	background-image: url('images/header.png');
}

.bottom-button {
	position: inherit;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.left-column {
	width: 310px;
	height: 500px;
	position: fixed;
	top: 75px;
	left: 20px;
	padding: 0 25px 0 25px;
}

