div {
  font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

header {
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

footer {
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main {
	width: 100% - 30px;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#base-data-container {
	text-align: center;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#highlight-boarders {
	border: solid darkgreen;
}
