:root {
	font-family: 'Roboto', sans-serif;
	--header-footer-height: 55px;
	--color-strong: #3B746F;
	--color-background: #A7B082;
	--color-important: #E8A864;
	--color-disabled: #FBE683;
	--color-secondary: #6D967B;
}

h1, h2 {
	color: var(--color-strong);
}
.header-footer-common {
	height: var(--header-footer-height);
	position: fixed;
	left: 0;
	width: 100%;
}

.header {
	top: 0;
}

.footer {
	height: 40px;
	bottom: 0;
}

.footer-text {
	text-align: center;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color-disabled);
	font-size: 14px;
}

main {
	width: 100%;
	height: 100%;
	margin-top: var(--header-footer-height);
	margin-bottom: var(--header-footer-height);
}

body {
	background: no-repeat;
	background-image: url('./images/back.jpg');
	background-attachment: fixed;
}

.base-data-container{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 400px;
	opacity: 0.9;
}
.base-data-text-container {
	text-align: center;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#chart-container {
	text-align: center;
}

#chart-paper {
	width: 1000px;
	height: 500px;
	margin: 20px;
	text-align: center;
	display: inline-block;
}

#chart {
	width: inherit;
	height: inherit;
}

#highlight-boarders {
	border: solid darkgreen;
}

.footer-paper {
	height: inherit;
	text-align: center;
	background-color: var(--color-strong) !important;
}

.header-paper {
	height: inherit;
	text-align: center;
	background-color: var(--color-secondary) !important;
}




